<h3><b>Realice su Transferencia</b> </h3>
<form (submit)="hacerTransferencia()">
    <input type="text" name="" id="benefactor" placeholder="Cuenta a debitar"
        [(ngModel)]="camposDeTransferencia.benefactor" [ngModelOptions]="{standalone: true}" required>
    <br>
    <input type="text" name="" id="beneficiario" placeholder="Cuenta del beneficiario"
        [(ngModel)]="camposDeTransferencia.beneficiario" [ngModelOptions]="{standalone: true}" required>
    <br>
    <input type="number" name="" id="" placeholder="Monto" [(ngModel)]="camposDeTransferencia.monto"
        [ngModelOptions]="{standalone: true}" required>
    <br>
    <input type="text" name="" id="motivo" placeholder="Motivo" [(ngModel)]="camposDeTransferencia.motivo"
        [ngModelOptions]="{standalone: true}">
    <br>
    <input type="submit" value="Enviar">
</form>

<!-- <div>
    <h6>Cuentas</h6>
    <ul id="lista-cuentas"></ul>
</div>

<div>
    <h6>Busque una cuenta</h6>
    <input type="text" name="" id="numeroCuenta" placeholder="Número de cuenta" required>
    <button id="buscarCuenta">Buscar</button>
    <div id="cuenta"></div>
</div> -->