nav {
    background-color:#3f51b5;
}
.button {
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    font-family: Arial, sans-serif;
    font-size: 15px;
    padding: 20px 24px;
    text-decoration: none;
  }
    .activebutton {
      color: #ffffff;
      font-weight: bold;
      
  }