<!-- <mat-toolbar color="primary" class="navbar">
    <mat-toolbar-row>
        <span>Banca Web</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <nav>
            <span><a class="button" routerLink="/transferencias"
                    routerLinkActive="activebutton">Transferencias</a></span>
            <span><a class="button" routerLink="/cuentas" routerLinkActive="activebutton">Cuentas</a></span>
            <span><a class="button" routerLink="/pagos" routerLinkActive="activebutton">Pagos</a></span>
            <span><a class="button" routerLink="/clientes" routerLinkActive="activebutton">Clientes</a></span>
        </nav>
    </mat-toolbar-row>
</mat-toolbar> -->

<nav>
    <span><a class="button" routerLink="/transferencias"
            routerLinkActive="activebutton">Transferencias</a></span>
    <!-- <span><a class="button" routerLink="/cuentas" routerLinkActive="activebutton">Cuentas</a></span> -->
    <span><a class="button" routerLink="/pagos" routerLinkActive="activebutton">Pagos</a></span>
    <!-- <span><a class="button" routerLink="/clientes" routerLinkActive="activebutton">Clientes</a></span> -->
</nav>