<ul>
    <li style="float: left;"><a class="button" routerLink="/home" routerLinkActive="activebutton">Inicio</a></li>
    <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
        <li><a routerLink="/signin" routerLinkActive="activebutton">Ingresar</a></li>
        <li><a routerLink="/signup" routerLinkActive="activebutton">Registrarse</a></li>
    </ng-container>
    <ng-template #loggedIn>
        <li class="logout"><a style="
            cursor: pointer;
            color:cadetblue;
            " 
            (click)="authService.logout()"
             >Salir</a></li>
    </ng-template>
</ul>
<router-outlet></router-outlet>