ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3f51b5;
}
li{
  float: right;
}
li a {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 15px;
  padding: 20px 24px;
  text-decoration: none;
}
a{
  color: rgba(255, 255, 255, 0.5);
}
.activebutton {
    color:white;
    font-weight: bold;
}
