<!-- <h3><b>Cuentas</b> </h3>
<div>
    <ol>
        <li *ngFor="let cuenta of cuentas">
            {{cuenta.nro_cuenta}} - {{cuenta.saldo}}
        </li>
    </ol>
</div> -->

<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="cuentas">
  
      <ng-container matColumnDef="nro_cuenta">
        <th mat-header-cell *matHeaderCellDef> Nro. Cuenta </th>
        <td mat-cell *matCellDef="let element"> {{element.nro_cuenta}} </td>
      </ng-container>
  
      <ng-container matColumnDef="saldo">
        <th mat-header-cell *matHeaderCellDef> Saldo </th>
        <td mat-cell *matCellDef="let element"> {{element.saldo}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  