<app-navbar></app-navbar>
<h3><b>Realice su Transferencia</b> </h3>
<!-- <form (submit)="hacerTransferencia()">
    <input type="text" name="" id="benefactor" placeholder="Cuenta a debitar"
        [(ngModel)]="camposDeTransferencia.benefactor" [ngModelOptions]="{standalone: true}" required>
    <br>
    <input type="text" name="" id="beneficiario" placeholder="Cuenta del beneficiario"
        [(ngModel)]="camposDeTransferencia.beneficiario" [ngModelOptions]="{standalone: true}" required>
    <br>
    <input type="number" name="" id="" placeholder="Monto" [(ngModel)]="camposDeTransferencia.monto"
        [ngModelOptions]="{standalone: true}" required>
    <br>
    <input type="text" name="" id="motivo" placeholder="Motivo" [(ngModel)]="camposDeTransferencia.motivo"
        [ngModelOptions]="{standalone: true}">
    <br>
    <input type="submit" value="Enviar">
</form> -->

<div class="form">
<form >
    <mat-form-field>
        <mat-label>Cuenta a debitar</mat-label>
        <input matInput type="text" [(ngModel)]="camposDeTransferencia.benefactor" [ngModelOptions]="{standalone: true}"
            required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Cuenta del beneficiario</mat-label>
        <input matInput type="text" [(ngModel)]="camposDeTransferencia.beneficiario" [ngModelOptions]="{standalone: true}"
            required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Monto</mat-label>
        <input matInput type="number" [(ngModel)]="camposDeTransferencia.monto" [ngModelOptions]="{standalone: true}" required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Motivo</mat-label>
        <input matInput type="text" [(ngModel)]="camposDeTransferencia.motivo" [ngModelOptions]="{standalone: true}"
            required>
    </mat-form-field>
    <br>
    <!-- <input type="submit" value="Enviar"> -->
    <button color="primary" mat-raised-button (click)="hacerTransferencia()">Enviar</button>

</form>
</div>